/* .logo-bg-block {
    backgroundColor: rgb(48, 63, 159);
    height: 0.55rem;
    width: 140%;
    margin-left: -100px;
    margin-top: -10px;
    display: inline-block;
    float: left;
} */

.logo {
    color: white;
    transform: scale(1.5);
    margin-top: -0.18rem;
}

.logo-text {
    color: white;
    display: inline-block;
    margin-left: 0.15rem;
    font-size: 0.28rem;
    margin-top: -0.14rem;
}