body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

/* 文字样式设置 */
.text-title {
  color: rgba(0, 0, 0, .6);
  font-size: .2rem;
}

.text-info {
  color: rgba(0, 0, 0, .4);
}

.text-comment {
  color: rgba(0, 0, 0, .2);
}

/* content容器样式设置 */
.content-box {
    background-color: white;
}

/* card容器样式设置 */
.card-box {
   top: .4rem;
   width: 25rem,;
   height: 3.6rem;
   box-shadow: 0 0 .05rem rgba(0, 0, 0, .1);
}
.card-box:hover {
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .1);
}
